/**********TAG SELECTORS***********/

img{
    background-color: red;




    /***********CLASS SELECTORS*******************/
}
.broccoli
{background-color: aqua;}


#heading{
    color: aqua;
}


/***************ID SELECTORS************/